body {
  padding-top: 15px;
}

.content {
	min-height: 550px;
	/*min-height: 480px;*/
}

/* Sticky footer styles */
.footer {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 10px;
}

/* Login form */
.login-form {
  padding:20px;
  min-width: 250px;
  width: 100%;
  box-sizing: border-box;
}

/* emc-table */
.emc-table th, .emc-table td {
	text-align: center;
}

/* For prompt message (success, error) */
.prompt {
	font-size: 18px;
}

/* For error message */
label.error {
  	color: red;
  	padding: 2px 8px;
  	margin-top: 2px;
}
